<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

 <!-- Main Content -->
 <main class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-11">
            <h1><%= title %></h1>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr >
                    <th class="text-center col-4">Name</th>
                    <th class="text-center col-1">Released</th>
                    <th class="text-center col-1">Genre</th>
                    <th class="text-center col-6">Description</th>
                </tr>
            <!--readeable template row-->
                <% for(let count = 0; count < MovieList.length; count++) {%>
                <tr>
                    <td class="text-center col-4"><%= MovieList[count].Name %></td>
                    <td class="text-center col-1"><%= MovieList[count].Released %></td>
                    <td class="text-center col-1"><%= MovieList[count].Genre %></td>
                    <td class="col-6"><%= MovieList[count].Description %></td>

                </tr>
                <% } %>
            </table>
        </div>
    </div>
</main>

<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>